
@*@{
    ViewData["Title"] = "Create";
}

<section>
    <h2>Add a book</h2>
    <form action="/Book/Create" method="get">
        <div>
            <label for="id">ID:</label>
            <input id="id" type="number" name="id" value="1" />
        </div>
        <div>
            <label for="title">Title:</label>
            <input id="title" type="text" name="title" value="V is For Vendetta" />
        </div>
        <div>
            <label for="author">Author:</label>
            <input id="author" type="text" name="author" value="Alan Moore" />
        </div>
        <div>
            <label for="publicationDate">Publication Date:</label>
            <input id="publicationDate" type="date" name="publicationDate" value="2020-11-03" />
        </div>
        <div>
            <label for="checkoutDate">Checkout Date: </label>
            <input id="checkoutDate" type="date" name="checkoutDate" value="2020-11-05" required />
        </div>
        <input type="submit" value="Submit" />
    </form>

</section>


<p>@(ViewBag.Msg)</p>*@
