

<h1>Create Page</h1>

<section>
    <h2>Add a book</h2>
    <form action="/Book/Create" method="get">

        <label for="id">Id: </label>
        <input id="id" type="number" name="id" value="1" required/>
        <br />
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" value="Name of the Wind" required />
        <br />
        <label for="author">Author: </label>
        <input id="author" type="text" name="author" value="Patrick Rothfuss" required />
        <br />
        <label for="publicationDate">Publication Date: </label>
        <input id="publicationDate" type="date" name="publicationDate" value="2020-11-05" required />
        <br />
        <label for="checkoutDate">Checkout Date: </label>
        <input id="checkoutDate" type="date" name="checkoutDate" value="2020-11-05" required />
        <br />
        <input type="submit" value="Submit" />
    </form>
</section>

<p>@(ViewBag.Msg)</p>
